<!doctype html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <img src={{ bigPictureLink }}>
    <a href="smallPictures.php">Вернуться к картинкам</a>
</body>
</html>